.slider{
    height: 100vh;
    background: linear-gradient(to bottom,  #18d2af 1%,#0fcfe9 100%);
    position: fixed;
}

.slider li{
    margin-bottom: 25px;
    transition: 0.3s;
}

.slider li:hover span{
    display: inline-block;
    transform: scale(1.005);
}

.slider li span{
    color: white;
}